[Unit]
Description=Clue Mirror
Before=multi-user.target
After=network.target local-fs.target

[Service]
Type=simple
ExecStartPre=/sbin/modprobe evdev
ExecStart=/usr/bin/mirror
KillMode=process

[Install]
WantedBy=multi-user.target
Alias=mirror.service
