Origin: AMSD
Package: clue-mirror
Version: 1.4.3
Priority: optional
Section: main
Installed-Size: 0000
Architecture: armhf
Depends: libconfig++9, libvncserver-config, libvncclient0, libvncserver0
Maintainer: damian.stefan@gmail.com
Description: VNC module for Clue OS to display native RPi screen
